<% include partials/header%>

	<!-- my navbar -->
  <section class="header" id="fit">
            <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
                     <a class="navbar-brand" href="#">
                         <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS1jkdAO3qGhSLsm2hOs0jEHnnOWzM9sXATs6uSAjoAAvGsGmVA8g" alt="Logo" style="width:70px;height:50px">                                       
                      </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                  
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                      <ul class="navbar-nav mr-auto">
                        <li class="nav-item ">
                          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#">stores</a>
                        </li>
						  <li class="nav-item">
                          <a class="nav-link" href="/aboutpage">About Me</a>
                        </li>
                        
                      </ul>
                      <form class="form-inline my-2 my-lg-0">
                        <button class="btn my-2 my-sm-0 btn-light" type="submit">Sign in</button>
                      </form>
                    </div>
                  </nav>

    </section>

  <div class="container pt-3 px-2">
    <div class="title">MOVIE MATCHER</div>
    <div class="subtitle"> FIND   YOUR   MOVIE   FOR   TODAY </div>
  </div>



<div class="d-flex justify-content-around m-5">
	<img src="https://m.media-amazon.com/images/M/MV5BMWUyYWNiODItNjdmNS00ZDhlLWE0YjQtNGEyMDg3ODJiMTM3XkEyXkFqcGdeQXVyODQ5NDUwMDk@._V1_SX300.jpg" class="img-thumbnail" alt="Cinque Terre">
	<img src="https://m.media-amazon.com/images/M/MV5BMTcxODgwMDkxNV5BMl5BanBnXkFtZTYwMDk2MDg3._V1_SX300.jpg" class="img-thumbnail" alt="Cinque Terre">
	<img src="https://m.media-amazon.com/images/M/MV5BMTM3NTg2NDQzOF5BMl5BanBnXkFtZTcwNjc2NzQzOQ@@._V1_SX300.jpg" class="img-thumbnail" alt="Cinque Terre">
</div>
<!-- the content part -jumbotron-->

<div class="container center" style="margin-top:6rem;margin-left:5rem">
	<div class="jumbotron">
  <h1>SEARCH FOR A MOVIE BY A KEYWORD</h1>
	<!-- my input form -->
	
<form action="/movie" method="get">
			
  <div class="form-group">
  <label for="usr">Keyword</label>
  <input type="text" class="form-control form-control-lg" id="usr" placeholder="Required" name="k">
  </div>
		
	<div class="py-3">
  <select name="t" class="custom-select">
    <option value="" selected>Select Type</option>
    <option value="movie">Movie</option>
    <option value="series">Series</option>
    <option value="episode">Episode</option>
  </select>
	</div>
 	
<div class="form-group pt-3">
  <label for="usr">Year of release</label>
  <input type="text" class="form-control form-control-lg" id="usr" placeholder="*optional" name="y">
</div>

  <button type="submit" class="btn btn-secondary btn-lg mt-4 ml-3">Search</button>	
  <button type="reset" class="btn btn-secondary btn-lg mt-4 ml-3">Reset</button>
		</form>
   </div>
</div>

<div class="container center" style="margin-top:3rem;margin-left:5rem">
	<div class="jumbotron">
  <h1>Get full info of any movie</h1>
	<!-- my input form -->
	
<form action="/infopage" method="get">
			
  <div class="form-group">
  <label for="usr">Title</label>
  <input type="text" class="form-control form-control-lg" id="usr" placeholder="Required" name="t">
  </div>
		
	<div class="py-3">
  <select name="type" class="custom-select">
    <option value="" selected>Select Type</option>
    <option value="movie">Movie</option>
    <option value="series">Series</option>
    <option value="episode">Episode</option>
  </select>
	</div>
 	
<div class="form-group pt-3">
  <label for="usr">Year of release</label>
  <input type="text" class="form-control form-control-lg" id="usr" placeholder="*optional" name="y">
</div>
	
	<div class="py-3">
  <select name="plot" class="custom-select">
    <option value="" selected>Plot</option>
    <option value="full">Full</option>
    <option value="series">Short</option>
  </select>
	</div>

  <button type="submit" class="btn btn-secondary btn-lg mt-4 ml-3">Search</button>	
  <button type="reset" class="btn btn-secondary btn-lg mt-4 ml-3">Reset</button>
		</form>
   </div>
</div>



<div id="Clouds">
  <div class="Cloud Foreground"></div>
  <div class="Cloud Background"></div>
  <div class="Cloud Foreground"></div>
  <div class="Cloud Background"></div>
  <div class="Cloud Foreground"></div>
  <div class="Cloud Background"></div>
  <div class="Cloud Background"></div>
  <div class="Cloud Foreground"></div>
  <div class="Cloud Background"></div>
  <div class="Cloud Background"></div>
<!--  <svg viewBox="0 0 40 24" class="Cloud"><use xlink:href="#Cloud"></use></svg>-->
</div>

<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="40px" height="24px" viewBox="0 0 40 24" enable- xml:space="preserve">
  <defs>
    <path id="Cloud" d="M33.85,14.388c-0.176,0-0.343,0.034-0.513,0.054c0.184-0.587,0.279-1.208,0.279-1.853c0-3.463-2.809-6.271-6.272-6.271
	c-0.38,0-0.752,0.039-1.113,0.104C24.874,2.677,21.293,0,17.083,0c-5.379,0-9.739,4.361-9.739,9.738
	c0,0.418,0.035,0.826,0.084,1.229c-0.375-0.069-0.761-0.11-1.155-0.11C2.811,10.856,0,13.665,0,17.126
	c0,3.467,2.811,6.275,6.272,6.275c0.214,0,27.156,0.109,27.577,0.109c2.519,0,4.56-2.043,4.56-4.562
	C38.409,16.43,36.368,14.388,33.85,14.388z"/>
  </defs>
</svg>

<% include partials/footer %>