#font{
    font-family: 'Pacifico', cursive;
	font-size: 28px;
}

#font2{
    font-family: 'Pacifico', cursive;
	font-size: 62px;
}

*{
	font-family: 'Poppins', sans-serif;
		-webkit-user-select: none;
	-moz-user-select: -moz-none;
	-o-user-select: none;
	user-select: none;
}
img {
	-webkit-user-drag: none;
	-moz-user-drag: none;
	-o-user-drag: none;
	user-drag: none;
}
img {
	pointer-events: none;
}
.movie_card{
	padding: 0 !important;
	width: 19rem;
	margin:14px; 
	border-radius: 10px;
	box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.2), 0 4px 15px 0 rgba(0, 0, 0, 0.19);
}
.movie_card img{
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	height: 450px;
}
.movie_info{
	color: #5e5c5c;
}

.movie_info i{
	font-size: 20px;
}
.card-title{
	width: 100%;
	height: 6rem;
	overflow: auto;
}
.play_button{
	background-color: #ff3d49;
	position: absolute;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	right: 6px;
	bottom: 425px;
	font-size: 27px;
	padding-left: 21px;
	padding-top: 16px;
	color: #FFFFFF;
	cursor: pointer;
}

.credits{
	margin-top: 20px;
	margin-bottom: 20px;
	border-radius: 8px;
	border: 2px solid #8e24aa;
	font-size: 18px;
}
.credits .card-body{
	padding: 0;
}
.credits p{
	padding-top: 15px;
	padding-left: 18px;
}
.credits .card-body i{
	color: #8e24aa;
}